body {
    font-family: 'Roboto', sans-serif;
}
.modal-overlay {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-agenda {
    max-height: 530px;
    width: 500px;
    left: 0px;
    top: 0px;
    min-height: 300px;
    position: relative;
    background-color: #fff;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header button{
    border: none;
    padding: 5px;
    background-color: none;
    cursor: pointer;
}

.modal-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

label {
    color: #747474;
    font-size: 13px;
    display: block;
}

input, textarea{
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px 10px;
    margin-bottom: 10px;
    outline: none;
}

.modal-footer {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-footer button {
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    outline: none;
    padding: 6px 12px 4px;
    text-transform: uppercase;
    transition: all .4s;
}

.modal-footer button + button {
    margin-left: 10px;
}

.modal-footer button:hover {
    background-color: #ccc
    ;
}